@color: #AAFFAA;

.body {
  background: @color;   
  margin:0 auto;
  float:none;
}

.th-left {
  text-align: left;
}

.th-right {
  text-align: right;
}

.th-center {
  text-align: center;
}

.dropdown-menu {
  max-height: 210px;
  overflow: hidden;
  overflow-y: auto;
}

.menu-toolbar {
  margin: auto;
}
