	<div ng-controller="BrandController">

		<div class="row" class="text-center">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="input-group">
					<span class="input-group-addon">Új Adat:</span> <input type="text"
						class="form-control" placeholder="Name"> <span
						class="input-group-btn">
						<button class="btn btn-primary" type="button">Hozzáad</button>
					</span>
				</div>
				<br />
				<table class="table table-striped">
					<tbody>
						<tr>
							<th class="th">Id</th>
							<th class="th">Name</th>
							<th class="th">Opciók</th>
						</tr>
						<tr>
							<th class="th">1</th>
							<th class="th">Aranka</th>
							<th class="th"><button type="button" class="btn btn-warning"
									id="button_brand">Módosít</button>
								<button type="button" class="btn btn-danger" id="button_brand">Töröl</button></th>
						</tr>
						<tr>
							<th class="th">2</th>
							<th class="th">Tibi Atya</th>
							<th class="th"><button type="button" class="btn btn-warning"
									id="button_brand">Módosít</button>
								<button type="button" class="btn btn-danger" id="button_brand">Töröl</button></th>
						</tr>
					</tbody>
				</table>


			</div>
		</div>



	</div>
	
