<div class="container">

	<nav class="navbar navbar-default" role="navigation">
		<p class="navbar-text">
			<b>New Name:</b>
		</p>

		<form class="navbar-form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name" ng-model="brandInName"/>
			</div>
			<button class="btn btn-primary navbar-right" type="button" ng-click="setBrand()">
			  <span class="glyphicon glyphicon-plus"></span> <b>Add New Data</b>
		    </button>
		</form>
	</nav>
	
	<table class="table table-striped table-bg-transparent-white">
		<tbody>
			<tr>
				<th class="th-left">Name
					<button class="btn btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down" style="vertical-align: middle"></span>
					</button>
				</th>
				
				<th class="th-right">Commands</th>
			</tr>
			<tr ng-init="modify=false" ng-repeat="brand in brands">
			
				<th ng-show="!modify" class="th-left">{{ brand.name }}</th>
				<th ng-show="!modify" class="th-right">								
				<button type="button" class="btn btn-warning" id="button_brand" ng-click="modify = !modify">
					<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
					</button>
					<button type="button" class="btn btn-danger" id="button_brand" ng-click="deleteBrand(brand.id)">
						<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
					</button>
				</th>
										
			
				<th  ng-show="modify" class="th-left"> 
					<input type="text" class="form-control"  ng-init="brandUpdateName=brand.name" ng-model="brandUpdateName">
				</th>
				<th ng-show="modify" class="th-right">
					<button type="button" class="btn btn-success" id="button_brand_save"  ng-click="updateBrand(brand.id,brandUpdateName); modify =!modify;">
						<span class="glyphicon glyphicon-floppy-saved"></span> <b>Save</b>
					</button>
					<button type="button" class="btn btn-danger" id="button_brand_cancel" ng-click="modify =!modify;">
						<span class="glyphicon glyphicon-floppy-remove"></span> <b>Cancel</b>
					</button>
				</th>
					
		</tr>

		</tbody>
	</table>
</div>
