<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="input-group">
			<span class="input-group-addon">New Name: </span> 
			<input type="text" class="form-control" placeholder="Name" /> 
			<span class="input-group-addon">Brand Id: </span> 
			<span class="input-group-btn">
			  <div class="dropdown">
			    <button class="btn dropdown-toggle" type="button" id="campaign_dropdown" data-toggle="dropdown">
			       			#ID
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="campaign_dropdown">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			    </ul>
			  </div>
			</span>
			
			<span class="input-group-btn">
			  <button class="btn btn-primary" type="button">
			    <span class="glyphicon glyphicon-plus"></span> 
			      <b>Add New Data</b>
				</button>
			</span>
		</div>
		<!-- 					<input type="text" class="form-control" readonly /> -->
	<br /> 

	<table class="table table-striped">
		<tbody>
			<tr>
				<th class="th-left">
				Name
				<button class="btn btn-xs" type="button">
					   <span class="glyphicon glyphicon-chevron-down" style="vertical-align:middle"></span>
					 </button>
				</th>
				<th class="th-left">
				Brand ID
				<button class="btn btn-xs" type="button">
					   <span class="glyphicon glyphicon-chevron-down" style="vertical-align:middle"></span>
					 </button>
				</th>
				<th class="th-right">Commands</th>
			</tr>
			<tr>
				<th class="th-left">Aranka Kampanya</th>
				<th class="th-left">101</th>
				<th class="th-right"><button type="button" class="btn btn-warning" id="button_brand">
						<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
					</button>
					<button type="button" class="btn btn-danger" id="button_brand">
						<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
					</button></th>
			</tr>
			<tr>
				<th class="th-left">Tibi Atya Kampanya</th>
				<th class="th-left">1337</th>
				<th class="th-right"><button type="button" class="btn btn-warning" id="button_brand">
						<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
					</button>
					<button type="button" class="btn btn-danger" id="button_brand">
						<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
					</button></th>
			</tr>
		</tbody>
	</table>
  </div>
</div>
