<div class="row" class="text-center">
	<div class="col-lg-8 col-lg-offset-2">

		<div class="input-group">
			<span class="input-group-addon">Campaign Id: </span>
			 
			<select class="form-control">
				<option>1</option>
				<option>2</option>
				<option>100</option>
				<option>1000</option>
				<option>83452</option>
			</select>
			 
				<span class="input-group-addon">Brand Id: </span>

			<!-- 					<input type="text" class="form-control" readonly /> -->

			<select class="form-control">
				<option>1</option>
				<option>2</option>
				<option>100</option>
				<option>1000</option>
				<option>83452</option>
			</select>

		</div>
		<div class="input-group-btn">
			<button class="btn btn-block btn-primary" type="button">
				<span class="glyphicon glyphicon-plus"></span> Add New Data
			</button>
		</div>
		<br />

		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="th">Id</th>
					<th class="th">Campaign ID</th>
					<th class="th">Brand ID</th>
					<th class="th">Commands</th>
				</tr>
				<tr>
					<th class="th">1</th>
					<th class="th">234</th>
					<th class="th">101</th>
					<th class="th"><button type="button" class="btn btn-warning"
							id="button_brand">
							<span class="glyphicon glyphicon-pencil"></span> Modify
						</button>
						<button type="button" class="btn btn-danger" id="button_brand">
							<span class="glyphicon glyphicon-remove-sign"></span> Delete
						</button></th>
				</tr>
				<tr>
					<th class="th">2</th>
					<th class="th">531242</th>
					<th class="th">1337</th>
					<th class="th"><button type="button" class="btn btn-warning"
							id="button_brand">
							<span class="glyphicon glyphicon-pencil"></span> Modify
						</button>
						<button type="button" class="btn btn-danger" id="button_brand">
							<span class="glyphicon glyphicon-remove-sign"></span> Delete
						</button></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

