<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="input-group">
			<span class="input-group-addon">Campaign Id: </span> 
       
       <div class="dropdown">
			<span class="input-group-btn">
			  
			    <button class="btn dropdown-toggle" type="button" id="competitor_dropdown1" data-toggle="dropdown">
			    #ID
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="competitor_dropdown1">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			    </ul>
		
			</span>  
				  </div>
			  
		    <span class="input-group-addon">Brand Id: </span>

		    
			  <div class="dropdown">
			  <span class="input-group-btn">
			    <button class="btn dropdown-toggle" type="button" id="competitor_dropdown2" data-toggle="dropdown">
			    #ID
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="competitor_dropdown2">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10000</a></li>
			    </ul>
			  
			</span>
			</div>
		    
			<span class="input-group-btn">
			<button class="btn btn-primary" type="button">
				<span class="glyphicon glyphicon-plus"></span> <b>Add New Data</b>
			</button>
			</span>
		</div>
			<!-- 					<input type="text" class="form-control" readonly /> -->
		<br />

		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="th">Id</th>
					<th class="th">Campaign ID</th>
					<th class="th">Brand ID</th>
					<th class="th">Commands</th>
				</tr>
				<tr>
					<th class="th">1</th>
					<th class="th">234</th>
					<th class="th">101</th>
					<th class="th"><button type="button" class="btn btn-warning"
							id="button_brand">
							<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
						</button>
						<button type="button" class="btn btn-danger" id="button_brand">
							<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
						</button></th>
				</tr>
				<tr>
					<th class="th">2</th>
					<th class="th">531242</th>
					<th class="th">1337</th>
					<th class="th"><button type="button" class="btn btn-warning"
							id="button_brand">
							<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
						</button>
						<button type="button" class="btn btn-danger" id="button_brand">
							<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
						</button></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

