<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="input-group">
			<span class="input-group-addon">Campaign Id: </span> 
<!-- 			<input type="text" class="form-control" placeholder="Name" />		   -->
            <span class="input-group-btn">
			  <div class="dropdown">
			    <button class="btn dropdown-toggle btn-block" type="button" id="competitor_dropdown2" data-toggle="dropdown">
			    #ID
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="competitor_dropdown2">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			    </ul>
			  </div>
			</span>
		    <span class="input-group-addon">Brand Id: </span>

		    
			  <span class="input-group-btn">
			  <div class="dropdown">
			    <button class="btn dropdown-toggle btn-block" type="button" id="competitor_dropdown2" data-toggle="dropdown">
			    #ID
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="competitor_dropdown2">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			    </ul>
			  </div>
			</span>
			
		    
			<span class="input-group-btn">
			<button class="btn btn-primary btn-block" type="button">
				<span class="glyphicon glyphicon-plus"></span> <b>Add New Data</b>
			</button>
			</span>
		</div>
			<!-- 					<input type="text" class="form-control" readonly /> -->
		<br />

		<table class="table table-striped table-bg-transparent-white">
			<tbody>
				<tr>
					<th class="th-left">
					Campaign ID
					<button class="btn btn-xs" type="button">
					   <span class="glyphicon glyphicon-chevron-down" style="vertical-align:middle"></span>
					 </button>
					</th>
					<th class="th-left">
					Brand ID
					<button class="btn btn-xs" type="button">
					   <span class="glyphicon glyphicon-chevron-down" style="vertical-align:middle"></span>
					 </button>
					</th>
					<th class="th-right">Commands</th>
				</tr>
				
				<tr ng-repeat="competitor in competitors">
	
						<th class="th-left">{{ competitor.campaign_id }}</th>
						<th class="th-left">{{ campaign.brand_id }}</th>
						<th class="th-right"><button type="button" class="btn btn-warning" id="button_keyword">
							<span class="glyphicon glyphicon-pencil"></span> <b>Modify</b>
						</button>
						<button type="button" class="btn btn-danger" id="button_brand">
							<span class="glyphicon glyphicon-remove-sign"></span> <b>Delete</b>
						</button></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

